*{
    border: 1px red solid;
}
body {
    width: 90%;
    margin: auto;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav {
    /* width */
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0rem;
}

nav ul li {
    /* need padding */
}

.jumbotron {
    width: 80%;
    height: 15rem;
    background-color: white;
    margin: auto;
    background-image: url('resources/images/curve-logo.jpeg');
    background-repeat:no-repeat;
    background-size: contain;
    background-position:center;
}

