*{
    border: 1px red solid;
}

body {
    width: 95%;
    margin: auto;
    color:#333; /*off black color*/
}

h1 {
    font-size:2em;
}

h2 {
    font-size:1.5em;
}

.content {
    font-family:'Roboto';
}

.icons, nav {
    /* BebasRegular was the original*/
    font-family:'Bebas Neue';
    color:#374767;
    letter-spacing:0em;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav {
    /* width */
    border-top: 0.3rem #374767 solid;
    border-bottom: 0.3rem #374767 solid;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0rem;
    margin:0.2rem 0rem;
}

nav ul li {
    /* need padding */
    padding:0.2em 0.5em;
    margin:0.2em 0.3em;
}

.content {
    width:100%;
    margin: auto;
}

.jumbotron {
    height: 15rem;
    background-color: white;
    margin: auto;
    background-image: url('resources/images/curve-logo.jpeg');
    background-repeat:no-repeat;
    background-size: contain;
    background-position:center;
}

.ethos {
    margin-top: 1rem;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: flex-start;
}

#cta {
    margin: 0.5rem 0rem;
    width: 10rem;
    align-self:center;
    color: white;
    background-color:#CF123C;
    border-radius:0.3rem;
}

.ethos-images {
    display:flex; 
    flex-direction:row; /* specify here, otherwise it inherits from .ethos! */
    flex-wrap:wrap;
    align-content:center;
}
.ethos-images figure {
    width: 100%;
}
.ethos-images figure img{
    max-width:100%;
    height:auto;
    display:block;
}
.competitive {
    color:white;
    background-color:#374767;
    padding:2rem 0.625rem;
}

.logistics {
    color:#374767;
    border: 6px solid #CCC;
    padding:0.625rem;
}

.training {
    color: #CF123C;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding-top:1.25rem;
    padding-bottom:0.625rem;
}

.training h2 {
    font-weight:600;
}
.training strong{
    font-weight: 800;
}