*{
    
}

body {
    width: 95%;
    margin: auto;
    color:#333; /*off black color*/
}

h1 {
    font-size:2em;
}

h2 {
    font-size:1.5em;
}

.content {
    font-family:'Roboto';
}

.icons, nav {
    /* BebasRegular was the original*/
    font-family:'Bebas Neue';
    color:#374767;
    letter-spacing:0em;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav {
    /* width */
    border-top: 0.3rem #374767 solid;
    border-bottom: 0.3rem #374767 solid;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0rem;
    margin:0.2rem 0rem;
}

nav ul li {
    /* need padding */
    padding:0.2em 0.5em; /* at font of 16px, that's 3px+ up vertically, 8px horizontal */
    margin:0.2em 0.3em; /* at font of 16px, that's 3px+ up vertical, 5px+ horizontal */
}

.content {
    width:100%;
    margin: auto;
}

.jumbotron {
    height: 15rem;
    background-color: white;
    margin: auto;
    background-image: url('resources/images/curve-logo.jpeg');
    background-repeat:no-repeat;
    background-size: contain;
    background-position:center;
    display:none; /* hide the jumbotron on mobile devices so users can see the CTA 'come join us' at a glacne */
}

.ethos {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: flex-start;
    padding-top: 1rem;
    padding-left:0.625rem;
    padding-right:0.625rem;
}
.ethos h2 {
    margin-bottom: 0.625em;
    color:#374767;
}

.ethos p {
    margin-bottom: 0.3125rem;
}
#cta {
    margin: 2rem 0rem;
    padding: 1rem;
    width: 10rem;
    align-self:center;
    color: white;
    background-color:#CF123C;
    border-radius:0.3rem;
    font-weight: 700;
}

.ethos-images {
    display:flex; 
    flex-direction:row; /* specify here, otherwise it inherits from .ethos! */
    flex-wrap:wrap;
    align-content:center;
}
.ethos-images figure {
    width: 100%;
}
.ethos-images figure img{
    max-width:100%;
    height:auto;
    display:block;
}
.competitive {
    color:white;
    background-color:#374767;
    padding:2rem 0.625rem;
}

#logistics {
    color:#374767;
    border: 6px solid #CCC;
    padding:0.625rem;
    margin: 0.625rem 0rem;
}

.training {
    color: #CF123C;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding-top:1.25rem;
    padding-bottom:0.625rem;
}

.training h2 {
    font-weight:600;
}
.training strong{
    font-weight: 800;
}

/* for the responsive design, try to do designs for three devices. mobile, tablet(ipad vertical) and desktops */
/* changing page layout could mean displaying items hidden at lower widths, changing widths of content, etc rather than switching to grid */
@media screen and (min-width:480px){
    .ethos h2 {
        align-self:center;
    }
}

@media screen and (min-width:768px){
    /* serve three images to a row. leave a bit of space in between */
    .ethos-images {
        justify-content: space-between;
        /* provide some space between each image. and also around each image with padding*/
        background-color:#374767;
        padding: 0.5rem 0.3rem;
    }
    .ethos-images figure {
        width: 33%;
    }
    /* center text elements so as to be more prominent to user with larger screen */
    .ethos { 
        width: 80%;
        margin: auto;
    }
    .ethos h2 {
        font-size:2em; /* em links font-size to its parent, and other attributes, like width, margin, to font-size of the element itself.*/
        align-self:center; /* center h2 but not the text below it! weird look." */
    }
}

@media screen and (min-width:1024px){
    /* make nav items bigger and display jumbotron. */ 

    /* increase font size of the navigation men items. responsively defined margin and padding would increase with font size. */ 
    nav ul {
        font-size:24px; /* up from 16px to affect the <li><p></p></li>*/
    }

    /* display jumbotron banner image */ 
    .jumbotron {
        display:block;
    }
   
    .competitive{
        text-align:center;
    }

    .content { /* delineate jumbotron from the rest of the content. */
        border-top: 0.3rem #374767 solid;
    }

}

@media screen and (min-width:1100px){
    .ethos{ /* center h2 and all ps within ethos */
        align-items:center;
    }
}